@import url();
body{
    background-color: black;
    
}
/* Navbar site */
.navbar{
    display: flex;
    margin: 0;
    background-color: black;
    color: white;
    border-bottom: solid 1px green;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

#logo{
    width: 150px;
    justify-self: left;
}

