#paginaRick{
    height: 110vh;
}

#jerryjogo{
    width: 35%;
    height: 65%;
}
#easterFrase{
    color: white;
}


.jogo{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.instrucao{
    color: white;
}
.footerjogos{
    height: 7vh;
    display: flex;
    color: white;
    border-top: 2px solid blue;
    justify-content: center;
} 

.iframe{   
    transform: scale(290%, 370%) translate(0%, 35%);
}
#tinyRick{
    width: 70%;
    height: 100%;
    overflow: auto;
}
#rickJogo{
    height: 100vh;
}
#textoTB{
    color: aliceblue;
    transform: translate(8%, -1015%);
}
#videoTB{
    transform: translate(33%, -274%);
    width: 20%;
    height: 40%;
}


#noticia{
    background-color: white;
    width: 50%;
    height: 65%;
}

#imagemNot1{
    transform: scale(30%, 30%) translate(15%, 0%);
}
#Pnot1{
    height: 30%;
    width: 69%;
    transform: translate(-50%, 50%);
}